body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #F0FFF0;
    height: 575px;
}

.brand  img{
    width: 200px;
}

.nav-item-container li{
    margin-left: 20px;
}

.nav-item-color a{
    color: black;
}

.nav-item-color a:hover{
    color: #21B573;
}

.signin-btn{
    background-color: #21B573;
    border-radius: 20px;
    padding: 0px 10px;
    text-align: center;
}

.signin-btn a{
    color: white; 
}

.signin-btn a:hover{
    color: white;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.real-btn{
    display: inline-block;
    background-color: #21B573;
    border-radius: 20px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.real-btn:hover{
    color: white;
    background-color: #109157;
}

p.header-q{
    color: orangered;
}

.header-img img{
    width: 100%;
}

.real-color{
    color: #21B573;
}

h1.motto{
    font-weight: 1000;
}

.color-grey{
    color: #6C6B6B;
}

@media only screen and (max-width: 992px){
    .header-img{
        display: none;
    }
    .header-text{
        width: 100%;
    }

    header{
        height: 475px;
    }
}

img.feature-img{
    width: 70px;
    height: 85px;
    padding: 10px;
}

.feature-item{
    max-height: 270px;
    text-align: center;
    padding: 5px;
    background-color: #F8FFFB;
    border-radius: 3px;
    margin: 5px 10px;
    
}

.small-text{
    font-size: 15px;
}

.feature-item-special{
    background-color: white;
    box-shadow: 3px 3px 8px gray;
}