body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #F0FFF0;
    height: 575px;
}

.brand  img{
    width: 200px;
}

.nav-item-container li{
    margin-left: 20px;
}

.nav-item-color a{
    color: black;
}

.nav-item-color a:hover{
    color: #21B573;
}

.signin-btn{
    background-color: #21B573;
    border-radius: 20px;
    padding: 0px 10px;
    text-align: center;
}

.signin-btn a{
    color: white; 
}

.signin-btn a:hover{
    color: white;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.real-btn{
    display: inline-block;
    background-color: #21B573;
    border-radius: 20px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.real-btn:hover{
    color: white;
    background-color: #109157;
}

p.header-q{
    color: orangered;
}

.header-img img{
    width: 100%;
}

.real-color{
    color: #21B573;
}

.motto{
    font-weight: 700;
}

.color-grey{
    color: #6C6B6B;
}



img.feature-img{
    width: 70px;
    height: 85px;
    padding: 10px;
}

.feature-item{
    max-height: 270px;
    text-align: center;
    padding: 5px;
    background-color: #F8FFFB;
    border-radius: 3px;
    margin: 5px 10px;
    
}

.small-text{
    font-size: 15px;
}

.feature-item-special{
    background-color: white;
    box-shadow: 3px 3px 8px gray;
}
.feature{
    margin-top: 100px;
}

.section-heading{
    margin-bottom: 50px;
}

.online-courses{
    margin-top: 100px;
}

.online-courses h1{
    text-align: center;
    font-weight: 700;
    color: #413960;
}

.card-style{
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px gray;
}

.card-bottom{
    margin-top: 20px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
}

.date img{
    width: 30px;
}

.date p{
    display: inline-block;
}

.seat img{
    width: 30px;
}

.seat p{
    display: inline-block;
}

.testimonial{
    margin-top: 100px;
}

.testimonial h1{
    text-align: center;
    font-weight: 700;
    color: #413960;
}

.testimonial .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.man{
    display: inline;
    width: 100px;
    margin: 30px;
}

.test-text{
    /* display: inline; */
    margin: 30px;
    text-align: justify;
}

@media only screen and (max-width: 992px){
    .header-img{
        display: none;
    }
    .header-text{
        width: 100%;
    }

    header{
        height: 475px;
    }

    .testimonial .container{
        flex-direction: column;
    }
}

.card-img-top{
    width: 100%;
}

footer{
    background-color: #282531;
    margin-top: 100px;
}

footer h4{
    color: white;
}

footer p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer ul li{
    list-style-type: none;
}

.copyright{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 40px;
}

footer a:hover{
    color: #21B573;
}